@use "typography";

* {
  box-sizing: border-box;
}


.slideshow-container {
  max-width: 1000vw;
  position: relative;
  margin: 0;
}

.mySlides {
  display: none;
  margin: 0;
  width: 100%;

  .responsive {
    max-width: 100%;
    height: auto;
  }

  .text {
    color: #f2f2f2;
    position: absolute;
    bottom: 15%;
    left: 5%;
    width: 100%;
    font-size: 18px;
    width: 35%;
    .title-slider {
      font-size: 35px;
      font-weight: 200;
    }
    .content-text {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

 

      .description-slider {
        font-weight: 400;
      }
    }
  }
}

.container-btn {
  width: 100%;
  display: flex;
  justify-content: flex-start;

  .slider-btn-orange {
    background-color: #cd3d0f;
    border: #cd3d0f;
    color: white;
    height: 40px;
    width: fit-content;
    border-radius: 100px;
    font-size: 19px;
    font-weight: 500;
    margin: 0;
    position: absolute;

    &:hover {
      opacity: 0.8;
    }
  }

  .slider-btn-white {
    background-color: white;
    border: white;
    color: black;
    height: 40px;
    width: fit-content;
    border-radius: 100px;
    font-size: 19px;
    font-weight: 500;
    margin: 0;
    position: absolute;

    &:hover {
      opacity: 0.8;
    }
  }
}


.container-preview-hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 150px;

  .dot {
    opacity: 0.8;
    cursor: pointer;


    &:hover {
      transform: translateY(-10px);
      opacity: 1;

    }
  }

  .preview-hero-img {
    border-radius: 10px;
    margin: 5px;
    width: 250px;
  }
}

.active {
  border: 3px solid typography.$colorBlue;
  border-radius: 10px;
  opacity: 1 !important;

  &:hover {
    transform: translateY(-10px);
    box-shadow: rgba(187, 187, 187, 0.863) 0px 15px 10px 0px;
  }
}



/* animation */
.fade {
  background: linear-gradient(top to right, rgb(59, 59, 59), white, black);
  animation-name: fade;
  animation-duration: 10s;
}

.bouncetext {
  animation-name: bouncetext;
  animation-duration: 3s;
}



@keyframes fade {
  from {
    opacity: 0.1
  }

  to {
    opacity: 0.8
  }
}

@keyframes bouncetext {
  from {
    transform: translateY(50px);
    opacity: 0.1;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .w-100 {
    height: 100%;
  }


  .text {
    color: #f2f2f2;
    position: relative;
    bottom: 15%;
    left: 5%;
    width: 100%;
    font-size: 18px;
    width: 35%;

    .content-text {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title-slider {
        font-size: 22px !important;
        font-weight: 200;
      }

      .description-slider {
        font-size: 15px !important;
        font-weight: 400;
      }
    }
  }

  .container-btn {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    .slider-btn-orange {
      background-color: #cd3d0f;
      border: #cd3d0f;
      color: white;
      height: 25px;
      width: fit-content;
      border-radius: 100px;
      font-size: 15px;
      font-weight: 500;
      margin: 0;
      position: absolute;

      &:hover {
        opacity: 0.8;
      }
    }

    .slider-btn-white {
      background-color: white;
      border: white;
      color: black;
      height: 25px;
      width: fit-content;
      border-radius: 100px;
      font-size: 15px;
      font-weight: 500;
      margin: 0;
      position: absolute;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}



@media (max-width: 768px) {
  .w-100 {
    height: 100%;
  }


  .text {
    color: #f2f2f2;
    position: relative;
    text-align: center;
    bottom: -0px !important;
    left: 0% !important;
    width: 100% !important;

    .content-text {

      text-align: center;


      .title-slider {

        font-size: 22px !important;
        font-weight: 400 !important;
      }
    }

    .content-sub {
      .description-slider {
        font-size: 14px !important;
        font-weight: 200 !important;

      }
    }
  }

  .container-btn {
    width: 100%;
    display: flex;
    justify-content: center;

    .slider-btn-orange {
      color: white;
      height: 25px;
      width: fit-content;
      border-radius: 100px;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      position: absolute;

      &:hover {
        opacity: 0.8;
      }
    }

    .slider-btn-white {
      background-color: white;
      border: white;
      color: black;
      height: 25px;
      width: fit-content;
      border-radius: 100px;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      position: absolute;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .accedi-btn {
    display: block;
  }

  .content-sub {
    position: absolute;
    top: 100%;
    bottom: 0;
    background-color: black;
    height: 150px;
  }
}