* {

    margin: 0;
    padding: 0;
}
.container-nuove-uscite {

    display: grid;
    grid-template-columns: repeat (6, 1fr);
    grid-template-rows: repeat (2, 1fr);
    gap: 20px;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;

}

.container-nuove-uscite>div>img {
    border-radius: 15%;
    width: 175px;
    height: 175px;
}
 
.elden-ring {

    width: 100%;
   
} 

h2, p {
    padding: 10px 0px 0px 10px;
    color: white;
    background-color: black;
}

.game-1 {

    grid-area: 1/1;
}

.game-2 {

    grid-area: 1/2;

}

.game-3 {

    grid-area: 1/3;
}

.game-4 {

    grid-area: 1/4;

}

.game-5 {
    grid-area: 1/5;

}

.game-6 {
    grid-area: 1/6;

}

.game-7 {
    grid-area: 2/1;

}

.game-8 {
    grid-area: 2/2;

}

.game-9 {
    grid-area: 2/3;

}

.game-10 {
    grid-area: 2/4;

}

.game-11 {
    grid-area: 2/5;

}

.game-12 {

    grid-area: 2/6;
}

.game-13 {

    grid-area: 1/1;
}

.game-14 {

    grid-area: 1/2;

}

.game-15 {

    grid-area: 1/3;
}

.game-16 {

    grid-area: 1/4;

}

.game-17 {
    grid-area: 1/5;

}

.game-18 {
    grid-area: 1/6;

}

.game-19 {
    grid-area: 2/1;

}

.game-20 {
    grid-area: 2/2;

}

.game-21 {
    grid-area: 2/3;

}

.game-22 {
    grid-area: 2/4;

}

.game-23 {
    grid-area: 2/5;

}

.game-24 {

    grid-area: 2/6;
}