@import url(./font/stylesheet.css);
body {
    /*color: typography.$colorBlack;*/
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    font-family: "SST";
    overflow-x: hidden;
}

@import url(./font/stylesheet.css);

.container-nuove-uscite {

    display: grid;
    grid-template-columns: repeat (6, 1fr);
    grid-template-rows: repeat (2, 1fr);
    gap: 20px;
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding: 10px 0px 0px 10px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;


}

.titles-container-nuove-uscite {
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding: 10px 0px 0px 10px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}

.container-nuove-uscite>div>img {
    border-radius: 15%;
    width: 175px;
    height: 175px;
}

.elden-ring {
    height: 100%;
    width: 100%;
    position: relative;
    top: 4px;
}

.box-text-img {

    color: white;
    position: absolute;
    bottom: 120px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 75px;
}

.h1-elden {
    padding: 15px;
}

.p-elden {

    padding: 15px;
    padding-bottom: 35px;
}

button {
    
    border-radius: 2rem;
    color: black;
    text-align: center;
    width: 150px;
    height: 30px;
}

.arrow {

    border-radius: 100%;
    background-color: white;
    color: black;
    width: 30px;
}
/* .text-img {
    color: white;
    position: absolute;

} */

/* .titles-container-nuove-uscite>h3>
h5>
p {
    padding: 10px 0px 0px 10px;
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
} */

h3 {
    font-size: 18.72px;
}

h5 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

.game-1 {

    grid-area: 1/1;
}

.game-2 {

    grid-area: 1/2;

}

.game-3 {

    grid-area: 1/3;
}

.game-4 {

    grid-area: 1/4;

}

.game-5 {
    grid-area: 1/5;

}

.game-6 {
    grid-area: 1/6;

}

.game-7 {
    grid-area: 2/1;

}

.game-8 {
    grid-area: 2/2;

}

.game-9 {
    grid-area: 2/3;

}

.game-10 {
    grid-area: 2/4;

}

.game-11 {
    grid-area: 2/5;

}

.game-12 {

    grid-area: 2/6;
}

.game-13 {

    grid-area: 1/1;
}

.game-14 {

    grid-area: 1/2;

}

.game-15 {

    grid-area: 1/3;
}

.game-16 {

    grid-area: 1/4;

}

.game-17 {
    grid-area: 1/5;

}

.game-18 {
    grid-area: 1/6;

}

.game-19 {
    grid-area: 2/1;

}

.game-20 {
    grid-area: 2/2;

}

.game-21 {
    grid-area: 2/3;

}

.game-22 {
    grid-area: 2/4;

}

.game-23 {
    grid-area: 2/5;

}

.game-24 {

    grid-area: 2/6;
}
