@use "typography";  // ricordarsi di usare typography.$variabile
body {
    color: typography.$colorBlack;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    font-family: "SST";
    overflow-x: hidden;
    
}

section{
    width: 100%;
    line-height: 1.6em;
    justify-content: center;
    margin: 20px 0px;
    .centered-div{
        width: 1140px;
        .breadcrumbs-div ul{
            gap: 20px;
            list-style-type: none;
            font-size: 11px;
            margin: 0;
            li>a{
                text-decoration: none;
                color: typography.$colorBlack;
            }
        }
        .product-main{
            display: flex;
            .product-left{
                display: flex;
                .image-little{
                    width: 88px;
                    height: 88px;
                    border: 1px solid #0072ce;
                }
                .image-big{
                    width: 500px;
                    height: 500px;
                }
            }   
            .product-right{
                width: 520px;
                margin-left: 10px;
                .product-title{
                    font-size: 26px;
                    margin-bottom: 30px;
                }
                .product-price-line{
                    
                    .product-price{
                        font-size: 18px;
                    }
                    .product-insu{
                        font-size: 16px;
                    }
                    .product-iva{
                        font-size: 14px;
                    }
                }

                .article-number{
                    font-size: 14px;
                    color: #888;
                    font-weight: 400;
                }
                .product-quantity{
                    gap: 20px;
                    margin-top: 40px;
                    margin-bottom: 15px;
                    .size-div{
                        .size-label{
                            font-size: 14px;
                        }
                        .size-guide{
                            float: right;
                            font-size: 14px;
                        }
                        .select-div{
                            .select-list{
                                width: 380px;
                                height: 50px;
                                padding: 0px 10px;
                                border: 1px solid #ddd;
                                font-size: 14px;
                            }
                        }
                    }
                    .quantity-div{
                        .quantity-label{
                            font-size: 14px;
                        }
                        .counter-div{
                            button{
                                width: 35px;
                                font-size: 40px;
                                padding-bottom: 10px;
                                padding-left: 2px;
                                font-weight: 100;
                                background-color: white;
                                border: 1px solid #ddd;
                            }
                            button:first-of-type{
                                border-right: transparent;
                            }
                            button:last-of-type{
                                border-left: transparent;
                            }
                            input{
                                width: 50px;
                                height: 50px;
                                padding-left: 20px;
                                border:transparent;
                                border-top: 1px solid #ddd;
                                border-bottom: 1px solid #ddd;
                            }
                        }
                    }
                }
                .price-description{
                    font-size: 14px;
                }
                .add-to-cart{
                    background-color: #eb6035;
                    color: typography.$colorWhite;
                    font-size: 15px;
                    padding: 15px 30px;
                    border: none;
                    font-weight: 500;
                    margin: 20px 0px;
                }
                .shipping-info{
                    font-size: 14px;
                    text-decoration: none;
                }
            }
        }
        .product-details{
            padding: 28px 46px;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            margin: 40px;
            .details-title{
                font-size: 24px;
                margin-bottom: 20px;
            }
        }
    }
}