@use "typography";  // ricordarsi di usare typography.$variabile
@use "footer";

body {
    color: typography.$colorBlack;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    font-family: "SST";
    line-height: 1.6em;
}