@use "typography";  // ricordarsi di usare typography.$variabile
@use "footer";

body {
    color: typography.$colorBlack;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    font-family: "SST";
    line-height: 1.6em;
}

.social-section{
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    &>div{
        padding-bottom: 100px;
    }
    .social-title{
        font-weight: lighter;
        padding: 40px 0px;
        text-align: center;
        font-size: 40px;
    }
    
    & img{
        width: 80px;
        margin: 40px 20px;
    }
}

