@import url(./font/stylesheet.css);
footer {
  background-color: #00439C;
  width: 100%;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  text-decoration: none;
  color: #FFFFFF;
}
footer a:hover {
  color: #FFFFFF;
}
footer > div {
  width: 1560px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr, 1fr;
  padding: 64px 0px;
}
footer > div .footer-left {
  grid-column: 1/4;
  grid-row: 1;
  display: flex;
  flex-direction: column;
}
footer > div .footer-left .footer-ps-logo {
  width: 100px;
}
footer > div .footer-left .footer-lang {
  display: inline-block;
  padding: 35px 15px;
  position: relative;
  left: 20px;
}
footer > div .footer-left .footer-lang .footer-globe {
  width: 20px;
  position: absolute;
  left: -20px;
}
footer > div .footer-bottom {
  grid-column: 1/4;
  grid-row: 2;
}
footer > div .footer-bottom .footer-sie {
  width: 150px;
  display: block;
  padding-bottom: 5px;
}
footer > div .footer-bottom .footer-maggiori-info {
  text-decoration: underline;
}
footer > div > ul {
  list-style: none;
  padding-left: 0;
  padding-right: 10px;
}

@media (min-width: 1024px) and (max-width: 1366px) {
  footer > div {
    width: 890px;
  }
  footer > div .footer-bottom > .footer-sie {
    width: 130px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  footer > div {
    width: 600px;
    grid-template-columns: repeat(4, 1fr);
  }
  footer > div .footer-left {
    grid-column: 1;
  }
  footer > div .footer-bottom {
    grid-column: 1;
    grid-row: 2;
  }
  footer > div .footer-bottom .footer-sie {
    width: 130px;
  }
  footer > div .footer-list1 {
    grid-column: 2;
    grid-row: 1;
  }
  footer > div .footer-list2 {
    grid-column: 3;
    grid-row: 1;
  }
  footer > div .footer-list3 {
    grid-column: 4;
    grid-row: 1;
  }
}
@media (max-width: 767px) {
  footer > div {
    display: flex;
    flex-direction: column;
    padding: 64px 20px;
  }
  footer > div .footer-bottom {
    order: 1;
  }
  footer > div .footer-bottom .footer-sie {
    width: 130px;
  }
}
#cookies-section {
  width: 100%;
  height: fit-content;
  background-color: #0072ce;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 30px 40px;
  position: fixed;
  z-index: 3;
  bottom: 0;
}
#cookies-section .logo-cookies {
  width: 50px;
  height: 50px;
}
#cookies-section .cookies-text, #cookies-section .cookies-text > a {
  color: #FFFFFF;
}
#cookies-section .cookies-Button {
  align-self: center;
  padding: 2px;
  border-radius: 2rem;
  transition-duration: 0.3s;
  width: fit-content;
}
#cookies-section .cookies-Button a {
  text-decoration: none;
  font-size: 16px;
}
#cookies-section .cookies-Button a div {
  width: fit-content;
  border-radius: 2rem;
  border: 2px solid transparent;
  padding: 4px 14px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #1F1F1F;
}
#cookies-section .cookies-Button:hover {
  background-color: #1F1F1F;
}
#cookies-section .cookies-Button:hover div {
  border-color: #0072ce;
}
#cookies-section .cookies-Button:nth-of-type(3) a > div {
  color: #1F1F1F;
  background-color: #FFFFFF;
}
#cookies-section .cookies-Button:nth-of-type(3):hover {
  background-color: #FFFFFF;
}
#cookies-section .cookies-Button:nth-of-type(3):hover div {
  border-color: #0072ce;
}

.close-tab {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  font-weight: 200;
  position: absolute;
  top: 0;
  right: 0;
}
.close-tab img {
  width: 15px;
  height: 15px;
}

body {
  color: #1F1F1F;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  font-family: "SST";
  overflow-x: hidden;
}

/*& .nomeClasse{
    align-self: center;
    padding: 2px;
    border-radius: 2rem;
    transition-duration: 0.3s;
    width: fit-content;
    a{
        text-decoration: none;
        font-size: 16px;
        div {
            width: fit-content;
            border-radius: 2rem;
            border: 2px solid transparent;
            padding: 4px 14px;
            font-weight: 700;
            color: typography.$colorBlack;
            background-color: typography.$colorWhite;
        }
    }
    &:hover{
        background-color: typography.$colorWhite;

        & div{
            border-color:  typography.$colorBlack;
            }
    }
  }*/
/*------------------STORE------------------*/
/*max-width 365px*/
.store-section {
  color: #FFFFFF;
  display: flex;
  overflow: hidden;
  justify-content: center;
  z-index: 1;
  background-color: #1a1a1a;
}
.store-section .store-section-bg {
  filter: blur(2px);
  filter: opacity(30%);
  position: absolute;
  z-index: 0;
  overflow: hidden;
  width: auto;
}
.store-section .store-section-content {
  position: relative;
  z-index: 1;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  margin: 20px;
  width: 100%;
  height: auto;
}
.store-section .store-section-content .store-content-title img {
  width: 100px;
}
.store-section .store-section-content .store-content-title h2 {
  font-size: 29px;
  font-weight: 400;
  line-height: 1.3em;
  margin: 28px 0px 14px 0px;
}
.store-section .store-section-content .store-content-title p {
  font-size: 14px;
  color: #B2B2B2;
}
.store-section .store-section-content .store-card-div .store-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px;
  margin-top: 22px;
  background-color: rgba(0, 0, 0, 0.151);
}
.store-section .store-section-content .store-card-div .store-card img {
  max-width: 100%;
}
.store-section .store-section-content .store-card-div .store-card p {
  font-size: 14px;
  margin-top: 22px;
  padding-bottom: 20px;
}
.store-section .store-section-content .store-card-div .store-card .card-Button {
  padding: 2px;
  border-radius: 2rem;
  transition-duration: 0.3s;
  width: fit-content;
}
.store-section .store-section-content .store-card-div .store-card .card-Button a {
  text-decoration: none;
  font-size: 14px;
}
.store-section .store-section-content .store-card-div .store-card .card-Button a div {
  width: fit-content;
  border-radius: 2rem;
  border: 2px solid transparent;
  padding: 4px 14px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #cd3d0f;
}
.store-section .store-section-content .store-card-div .store-card .card-Button:hover {
  background-color: #cd3d0f;
}
.store-section .store-section-content .store-card-div .store-card .card-Button:hover a > div {
  border-color: #1F1F1F;
}
.store-section .store-section-content .store-Button {
  align-self: center;
  padding: 2px;
  border-radius: 2rem;
  transition-duration: 0.3s;
  width: fit-content;
  margin: 40px 0px;
  font-size: 14px;
}
.store-section .store-section-content .store-Button a {
  text-decoration: none;
}
.store-section .store-section-content .store-Button a div {
  width: fit-content;
  border-radius: 2rem;
  border: 2px solid transparent;
  padding: 4px 14px;
  font-weight: 700;
  color: #1F1F1F;
  background-color: #FFFFFF;
}
.store-section .store-section-content .store-Button:hover {
  background-color: #FFFFFF;
}
.store-section .store-section-content .store-Button:hover div {
  border-color: #1F1F1F;
}

@media (min-width: 622px) {
  .store-section .store-section-bg {
    height: 70%;
  }
  .store-section .store-section-content {
    max-width: 620px;
    padding: 20px;
  }
  .store-section .store-section-content .store-content-title {
    max-width: 70%;
  }
  .store-section .store-section-content .store-content-title h2 {
    font-size: 34px;
  }
  .store-section .store-section-content .store-card-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
  }
  .store-section .store-section-content .store-card-div .store-card {
    width: 300px;
    padding: 20px 10px;
  }
  .store-section .store-section-content .store-card-div .store-card img {
    width: 200px;
  }
}
@media (min-width: 1024px) {
  .store-section .store-section-content {
    max-width: 900px;
  }
  .store-section .store-section-content .store-content-title {
    max-width: 45%;
  }
  .store-section .store-section-content .store-content-title img {
    max-width: 65px;
  }
  .store-section .store-section-content .store-card-div {
    display: flex;
    justify-content: space-between;
  }
  .store-section .store-section-content .store-card-div .store-card {
    width: 205px;
    text-align: center;
  }
  .store-section .store-section-content .store-card-div .store-card img {
    width: 125px;
  }
}
@media (min-width: 1367px) {
  .store-section .store-section-bg {
    width: auto;
  }
  .store-section .store-section-content {
    max-width: 1320px;
  }
  .store-section .store-section-content .store-content-title {
    max-width: 45%;
  }
  .store-section .store-section-content .store-content-title img {
    max-width: 100px;
  }
  .store-section .store-section-content .store-content-title h2 {
    font-size: 39px;
  }
  .store-section .store-section-content .store-card-div {
    display: flex;
    justify-content: space-between;
  }
  .store-section .store-section-content .store-card-div .store-card {
    width: 305px;
    height: 410px;
    text-align: center;
    position: relative;
  }
  .store-section .store-section-content .store-card-div .store-card img {
    width: 205px;
  }
  .store-section .store-section-content .store-card-div .store-card p {
    font-size: 16px;
    margin: 20px;
  }
  .store-section .store-section-content .store-card-div .store-card .card-Button {
    position: absolute;
    bottom: 20px;
  }
  .store-section .store-section-content .store-card-div .store-card .card-Button > a > div {
    font-size: 16px;
    padding: 8px 14px;
  }
  .store-section .store-section-content .store-Button > a > div {
    font-size: 16px;
    padding: 8px 14px;
  }
}
/*---------------SOCIAL MEDIA-----------------*/
/*max-width 1023px*/
.social-section {
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-section > div {
  padding-bottom: 100px;
}
.social-section .social-title {
  font-weight: lighter;
  padding: 40px 0px;
  text-align: center;
  font-size: 31px;
}
.social-section .social-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.social-section .social-icons img {
  margin: 15px;
  width: 36vw;
  max-width: 260px;
}

@media (min-width: 1024px) {
  .social-section .social-icons {
    display: flex;
  }
  .social-section .social-icons img {
    width: 80px;
    margin: 40px 15px;
  }
}
/*----------------------------------------------*/
/*----------------ESPLORA PLAY------------------*/
.first_cont .layout .first_block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second_cont .carousel {
  display: flex;
  flex-direction: row;
}

* {
  margin: 0;
  padding: 0;
}

.first_cont {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}
.first_cont .layout {
  width: 100%;
  padding: 48px 0px 0px 0px;
}
.first_cont .layout .first_block {
  flex-direction: column;
  height: 10em;
  width: 100%;
}
.first_cont .layout .first_block .title {
  font-size: 45px;
  color: #1F1F1F;
  font-weight: lighter;
}
.first_cont .layout .first_block .sub {
  color: #727171;
  font-size: 22px;
  margin: 16px 0px 0px 0px;
  width: 53%;
  text-align: center;
  font-weight: 400;
}

.second_cont {
  height: 100%;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.second_cont .carousel .content1 {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.second_cont .carousel .content1 .play_picture {
  height: 260px;
  width: 450px;
}
.second_cont .carousel .content1 .play_picture img {
  height: 250px;
  width: 450px;
}
.second_cont .carousel .content1 .text_box {
  width: 450px;
}
.second_cont .carousel .content1 .text_box #title1 {
  font-size: 45px;
  color: #1F1F1F;
  font-weight: lighter;
}
.second_cont .carousel .content1 .text_box #sub1 {
  color: #727171;
  font-size: 22px;
  margin: 16px 0px 0px 0px;
  font-weight: 400;
}
.second_cont .carousel .content1 .btn-block {
  padding-top: 32px;
}
.second_cont .carousel .content1 .btn-block .btn {
  align-self: center;
  padding: 2px;
  border-radius: 2rem;
  transition-duration: 0.3s;
  width: fit-content;
  border: none;
}
.second_cont .carousel .content1 .btn-block .btn .btn-link {
  text-decoration: none;
  font-size: 18px;
  width: fit-content;
  border-radius: 2rem;
  border: 2px solid transparent;
  padding: 11px 22px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #2d64e6;
}
.second_cont .carousel .content2 {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-left: 20px;
}
.second_cont .carousel .content2 .play_vr {
  height: 260px;
  width: 450px;
}
.second_cont .carousel .content2 .play_vr img {
  height: 260px;
  width: 450px;
}
.second_cont .carousel .content2 .text_box {
  width: 450px;
}
.second_cont .carousel .content2 .text_box #title2 {
  font-size: 45px;
  color: #1F1F1F;
  font-weight: lighter;
}
.second_cont .carousel .content2 .text_box #sub2 {
  color: #727171;
  font-size: 22px;
  margin: 16px 0px 0px 0px;
  font-weight: 400;
}
.second_cont .carousel .content2 .btn-block {
  padding-top: 32px;
}
.second_cont .carousel .content2 .btn-block .btn {
  align-self: center;
  padding: 2px;
  border-radius: 2rem;
  transition-duration: 0.3s;
  width: fit-content;
  border: none;
}
.second_cont .carousel .content2 .btn-block .btn .btn-link {
  text-decoration: none;
  font-size: 18px;
  width: fit-content;
  border-radius: 2rem;
  border: 2px solid transparent;
  padding: 11px 22px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #2d64e6;
}
.second_cont .carousel .content3 {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-left: 20px;
}
.second_cont .carousel .content3 .accessori {
  height: 260px;
  width: 450px;
}
.second_cont .carousel .content3 .accessori img {
  height: 260px;
  width: 450px;
}
.second_cont .carousel .content3 .text_box {
  width: 450px;
}
.second_cont .carousel .content3 .text_box #title3 {
  font-size: 45px;
  color: #1F1F1F;
  font-weight: lighter;
}
.second_cont .carousel .content3 .text_box #sub3 {
  color: #727171;
  font-size: 22px;
  margin: 16px 0px 0px 0px;
  font-weight: 400;
}
.second_cont .carousel .content3 .btn-block {
  padding-top: 32px;
}
.second_cont .carousel .content3 .btn-block .btn {
  align-self: center;
  padding: 2px;
  border-radius: 2rem;
  transition-duration: 0.3s;
  width: fit-content;
  border: none;
}
.second_cont .carousel .content3 .btn-block .btn .btn-link {
  text-decoration: none;
  font-size: 18px;
  width: fit-content;
  border-radius: 2rem;
  border: 2px solid transparent;
  padding: 11px 22px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #2d64e6;
}

/*---------------FINE ESPLORA PLAY----------------*/
/*---------------PLAY PLUS------------------------*/
* {
  margin: 0;
  padding: 0;
}

.section {
  width: 100%;
  margin: 0;
  height: 620px;
}
.section .bg-section {
  width: 100%;
  position: absolute;
  z-index: 1;
}
.section .bg-section .bg-image {
  width: 100%;
  height: 620px;
}
.section .contentgrid {
  display: grid;
  position: relative;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  z-index: 1;
  width: 80%;
  height: 620px;
  margin: 0px 0px 0px 200px;
}
.section .contentgrid .imageblock {
  grid-area: 1/2;
  width: 580px;
  height: 510px;
}
.section .contentgrid .imageblock #games {
  width: 580px;
  height: 510px;
}
.section .contentgrid .box-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: 1/1;
  width: 580px;
  height: 400px;
  padding: 40px;
}
.section .contentgrid .box-title .title-block {
  width: 630px;
  height: 90px;
  margin-bottom: 40px;
}
.section .contentgrid .box-title .title-block .playlogo {
  width: 450px;
  height: 90px;
}
.section .contentgrid .box-title .text {
  width: 630px;
  margin-bottom: 10px;
}
.section .contentgrid .box-title .text .paragraph {
  font-size: 18px;
  font-weight: 400;
  color: #1F1F1F;
}
.section .contentgrid .box-title .btn-block .btn {
  align-self: center;
  padding: 0px;
  border-radius: 2rem;
  transition-duration: 0.3s;
  width: fit-content;
  border: none;
  margin: 13px 0px 0px 0px;
  background-color: none;
}
.section .contentgrid .box-title .btn-block .btn .btn-link {
  text-decoration: none;
  font-size: 18px;
  width: fit-content;
  border-radius: 2rem;
  border: 2px solid transparent;
  padding: 11px 18px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #2d64e6;
}

/*--------------FINE PLAY PLUS-----------------*/
/*--------------SCONTI PLAY--------------------*/
* {
  margin: 0;
  padding: 0;
}

.cont {
  width: 100%;
  height: 690px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.cont .grid-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  height: 550px;
  width: 90%;
  margin: 0;
  margin-left: 206px;
  margin-right: 106px;
}
.cont .grid-cont .picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 550px;
  grid-area: 1/2;
  margin-right: 50px;
}
.cont .grid-cont .picture #sales {
  height: 550px;
  width: 1000px;
}
.cont .grid-cont .text-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-area: 1/1;
  width: 480px;
  height: 600px;
}
.cont .grid-cont .text-cont .text-block {
  width: 350px;
  margin-bottom: 10px;
}
.cont .grid-cont .text-cont .text-block .title-sales {
  font-size: 44px;
  font-weight: lighter;
  color: #1F1F1F;
  margin-bottom: 10px;
}
.cont .grid-cont .text-cont .subtitle {
  width: 475px;
}
.cont .grid-cont .text-cont .subtitle .sub-sales {
  line-height: 36px;
  font-size: 23px;
  font-weight: 400;
  color: #727171;
}
.cont .grid-cont .text-cont .btn-block {
  margin: 12px 0px 0px 0px;
}
.cont .grid-cont .text-cont .btn-block .btn {
  align-self: center;
  padding: 0px;
  border-radius: 2rem;
  transition-duration: 0.3s;
  width: fit-content;
  border: none;
  margin: 12px 0px 0px 0px;
  background-color: none;
}
.cont .grid-cont .text-cont .btn-block .btn .btn-link {
  text-decoration: none;
  font-size: 18px;
  width: fit-content;
  border-radius: 2rem;
  border: 2px solid transparent;
  padding: 11px 18px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #2d64e6;
}

/*---------------FINE SCONTI PLAY-----------------*/

/*# sourceMappingURL=style.css.map */
