@use "typography";  // ricordarsi di usare typography.$variabile
@use "footer";

body {
    color: typography.$colorBlack;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    font-family: "SST";
}



/*    BOTTONE DA RIUTILIZZARE CAMBIANDO I COLORI E L'ALLINEAMENTO

& .store-Button{
    align-self: center;
    padding: 2px;
    border-radius: 2rem;
    transition-duration: 0.3s;
    a{
        text-decoration: none;
        .store-button{
            width: fit-content;
            border-radius: 2rem;
            border: 2px solid transparent;
            padding: 10px 14px;
            font-weight: 600;
            color: typography.$colorBlack;
            background-color: typography.$colorWhite;
        }
    }
    &:hover{
        background-color: typography.$colorWhite;
        
        & .store-button{
            border-color:  typography.$colorBlack;
        }
    }
}
*/


/*---------------SOCIAL MEDIA-----------------*/
    /*max-width 1023px*/
.social-section{
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    &>div{
        padding-bottom: 100px;
    }        
    .social-title{
        font-weight: lighter;
        padding: 40px 0px;
        text-align: center;
        font-size: 31px;
    }
    .social-icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        & img {
           margin: 15px;
           width: 36vw;
           max-width: 260px;
        }
    }
}

@media (min-width: 1024px){
    .social-section{
        .social-icons{
            display: flex;
            & img{
                width: 80px;
                margin: 40px 15px;
            }
        }           
    }
}
/*----------------------------------------------*/