@use "typography";  // ricordarsi di usare typography.$variabile
@use "footer";

body {
    color: typography.$colorBlack;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    font-family: "SST";
}

/*------------------STORE------------------*/
        /*max-width 365px*/
.store-section{
    color: typography.$colorWhite;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: -2;
    background-color: #1a1a1a;
    .store-section-bg{
       // position: relative;
        filter: blur(2px);
        filter: opacity(30%);
        position: absolute;
        z-index: -1;
        right: 0;
        zoom: 130%;
    }
    .store-section-content{
        line-height: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 22px;
        padding: 20px;
        width: 100%;
        height: auto;  
        .store-content-title{
            & img{
                width: 100px;
            }
            & h2{
                font-size: 29px;
                font-weight: 400;
                line-height: 1.3em;
                margin: 28px 0px 14px 0px;
            }
            & p{
                font-size: 14px;
                color: #B2B2B2;
            }
        }
        .store-card-div{
            display: flex;
            flex-direction: column;
            gap: 22px;
            .store-card{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 22px;
                background-color: rgba(0, 0, 0, 0.2);
                img{
                    max-width: 100%;
                }
                p{
                    font-size: 14px;
                    margin: 14px;
                    padding-bottom: 22px;
                }
                .store-card-Button{
                    padding: 2px;
                    border-radius: 2rem;
                    transition-delay: 0.2s;
                    width: fit-content;
                    a{
                        text-decoration: none;
                        font-size: 14px;
                        div{
                            width: fit-content;
                            border-radius: 2rem;
                            border: 2px solid transparent;
                            padding: 4px 14px;
                            font-weight: 700;
                            color: typography.$colorWhite;
                            background-color: typography.$colorRed;
                        }
                    }
                    &:hover{
                        background-color: typography.$colorRed;
                        
                        & div{
                            border-color:  typography.$colorWhite;
                        }
                    }
                }
            }
        }
 
        & .store-Button{
            align-self: center;
            padding: 2px;
            border-radius: 2rem;
            transition-delay: 0.2s;
            width: fit-content;
            margin: 40px 0px;
            a{
                text-decoration: none;
                font-size: 14px;
                div{
                    width: fit-content;
                    border-radius: 2rem;
                    border: 2px solid transparent;
                    padding: 4px 14px;
                    font-weight: 700;
                    color: typography.$colorBlack;
                    background-color: typography.$colorWhite;
                }
            }
            &:hover{
                background-color: typography.$colorWhite;
                
                & div{
                    border-color:  typography.$colorBlack;
                }
            }
        }
    }
}

@media(min-width: 1400px){
    .store-section {
        justify-content: center;
    }
}



/*---------------SOCIAL MEDIA-----------------*/
    /*max-width 1023px*/
.social-section{
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    &>div{
        padding-bottom: 100px;
    }        
    .social-title{
        font-weight: lighter;
        padding: 40px 0px;
        text-align: center;
        font-size: 31px;
    }
    .social-icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        & img {
           margin: 15px;
           width: 36vw;
           max-width: 260px;
        }
    }
}

@media (min-width: 1024px){
    .social-section{
        .social-icons{
            display: flex;
            & img{
                width: 80px;
                margin: 40px 15px;
            }
        }           
    }
}
/*----------------------------------------------*/