@use "typography";  // ricordarsi di usare typography.$variabile
@use "footer";
@use "cookies";

body {
    color: typography.$colorBlack;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    font-family: "SST";
    overflow-x: hidden;
}


/*& .nomeClasse{
    align-self: center;
    padding: 2px;
    border-radius: 2rem;
    transition-duration: 0.3s;
    width: fit-content;
    a{
        text-decoration: none;
        font-size: 16px;
        div {
            width: fit-content;
            border-radius: 2rem;
            border: 2px solid transparent;
            padding: 4px 14px;
            font-weight: 700;
            color: typography.$colorBlack;
            background-color: typography.$colorWhite;
        }
    }
    &:hover{
        background-color: typography.$colorWhite;
        
        & div{
            border-color:  typography.$colorBlack;
            }
    }
  }*/

/*------------------STORE------------------*/
        /*max-width 365px*/

.store-section{
    color: typography.$colorWhite;
    //height: 3200px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    //position: relative;
    z-index: 1;
    background-color: #1a1a1a;
    .store-section-bg{
        filter: blur(2px);
        filter: opacity(30%);
        position: absolute;
        //position: relative;
        z-index: 0;
        overflow: hidden;
        //width: 100%;
        width: auto;
    }
    .store-section-content{
        position: relative;
        z-index: 1;
        line-height: 1.5em;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        gap: 22px;
        margin: 20px;
        width: 100%;
        height: auto;  
        .store-content-title{
            img{
                width: 100px;
            }
            h2{
                font-size: 29px;
                font-weight: 400;
                line-height: 1.3em;
                margin: 28px 0px 14px 0px;
            }
            p{
                font-size: 14px;
                color: #B2B2B2;
            }
        }
        .store-card-div{
            .store-card{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 22px;
                margin-top: 22px;
                background-color: rgba(0, 0, 0, 0.151);
                img{
                    max-width: 100%;
                }
                p{
                    font-size: 14px;
                    margin-top: 22px;
                    padding-bottom: 20px;
                }
                .card-Button{
                padding: 2px;
                border-radius: 2rem;
                transition-duration: 0.3s;
                width: fit-content;
                    a{
                        text-decoration: none;
                        font-size: 14px;
                        div{
                            width: fit-content;
                            border-radius: 2rem;
                            border: 2px solid transparent;
                            padding: 4px 14px;
                            font-weight: 700;
                            color: typography.$colorWhite;
                            background-color: typography.$colorRed;
                        }
                    }
                    &:hover{
                        background-color: typography.$colorRed;
                        
                        a>div{
                            border-color:  typography.$colorBlack;
                        }
                    }
                }
            }
        }
 
    
            
        & .store-Button{
            align-self: center;
            padding: 2px;
            border-radius: 2rem;
            transition-duration: 0.3s;
            width: fit-content;
            margin: 40px 0px;
            font-size: 14px;
            a{
                text-decoration: none;
                div{
                    width: fit-content;
                    border-radius: 2rem;
                    border: 2px solid transparent;
                    padding: 4px 14px;
                    font-weight: 700;
                    color: typography.$colorBlack;
                    background-color: typography.$colorWhite;
                }
            }
            &:hover{
                background-color: typography.$colorWhite;
                
                & div{
                    border-color:  typography.$colorBlack;
                }
            }
        }
    }
}



@media(min-width: 622px){
    .store-section{
        .store-section-bg{
            height: 70%;
        }
        .store-section-content{
            max-width: 620px;
            padding: 20px;
            .store-content-title{
                max-width: 70%;
                h2{
                    font-size: 34px;
                }
            }
            .store-card-div{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                column-gap: 20px;
                
                .store-card{
                    width: 300px;
                    padding: 20px 10px;                
                    img {
                    width: 200px;
                    }
                }
                
            }
        }
    }
}

@media(min-width: 1024px){
    .store-section{
        .store-section-content{
            max-width: 900px; 
            .store-content-title{
                max-width: 45%;
                img{
                    max-width: 65px;
                }
                
            }
        .store-card-div{
            display: flex;
            justify-content: space-between;
                .store-card{
                    width: 205px;
                    text-align: center;
                    img{
                        width: 125px;
                    }
                }
            }
        }
    }
}



@media(min-width: 1367px){
    .store-section{
        .store-section-bg{
            width: auto;
        }
        .store-section-content{
            max-width: 1320px; 
            .store-content-title{
                max-width: 45%;
                img{
                    max-width: 100px;
                }
                h2{
                    font-size: 39px;
                }
            }
            .store-card-div{
                display: flex;
                justify-content: space-between;
                .store-card{
                    width: 305px;
                    height: 410px;
                    text-align: center;
                    position: relative;
                    img{
                        width: 205px;
                    }
                    p{
                        font-size: 16px;
                        //min-height: 100px;
                        margin: 20px;
                    }
                    .card-Button{
                        position: absolute;
                        bottom: 20px;
                    }
                    .card-Button>a>div{
                        font-size: 16px;
                        padding: 8px 14px;
                    }
                }
            }
            .store-Button>a>div {
                font-size: 16px;
                padding: 8px 14px;
            }
        }
    }
}


/*---------------SOCIAL MEDIA-----------------*/
    /*max-width 1023px*/
.social-section{
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    &>div{
        padding-bottom: 100px;
    }        
    .social-title{
        font-weight: lighter;
        padding: 40px 0px;
        text-align: center;
        font-size: 31px;
    }
    .social-icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        & img {
           margin: 15px;
           width: 36vw;
           max-width: 260px;
        }
    }
}


@media (min-width: 1024px){
    .social-section{
        .social-icons{
            display: flex;
            & img{
                width: 80px;
                margin: 40px 15px;
            }
        }           
    }
}
/*----------------------------------------------*/
